<style>
body {
  background: linear-gradient(black,#B22222);
}
</style>
<div class="wrapper">
     <% @dragons.each do |dragon| %>
      <%= link_to dragon_path(dragon) do %>
        <div class="card-trip">
          <%= cl_image_tag dragon.photo.key, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h3><%= dragon.name %></h3>
                <i class="fa-solid fa-location-arrow"></i><h4><%= dragon.address %></h4>
              </div>
              <%# <i class="fa-brands fa-d-and-d"></i> %>
              <h2 class="card-trip-pricing"><%= rand(500..3000) %>$</h2>
            </div>
          </div>
        <% end %>
     <% end %>
    </div>



 <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">AirDragons © 2022</p>
        </footer>
