<style>
body{
  background: linear-gradient(black,#B22222);
}
</style>
<div id='container'>
  <div id='pic-profil'>
    <%= cl_image_tag @dragon.photo.key, crop: :fill %>
      <div class='name'>
        <h3><strong><%= @dragon.name %></strong></h3>
        <h4><i><%= @dragon.address %></i></h4>
          <div class='bookingb' >
            <%= link_to "book now", new_dragon_booking_path(@dragon), class: "supertext" %>
          </div>
        <p><%= @dragon.description %></p>
      </div>
  </div>
</div>
<div id='mapbox'
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
