
<%# <%= link_to "Book Now", new_user_booking_path(current_user) %>
<div class='container-profil'>
  <%= cl_image_tag @dragon.photo.key, crop: :fill %>
    </div>
        <h3><%= @dragon.name %></h3>


  <div class='mapbox'
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
